.nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #fff;
}

.nav ul {
    display: flex;
    list-style: none;
    gap:25px;
    justify-content: space-between;
}
.nav ul li {
    cursor: pointer;
    border: solid 1px #c4c4c4;
    padding:8px;
    border-radius: 8px;
}
.nav ul li input {
   
    background-color: #333;
    color: #fff;
   
}
.recipients {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border:solid 1px #ddd;
    padding: 20px;
    background-color: #1b1b1b;
    border-radius: 15px;
    width: fit-content;
    align-self: center;
    color:#fff
}

.spinner {
    display: flex;
    justify-content: center;

}


.count {
    border: solid 1px #ddd;
    padding:25px;
    border-radius: 10px;
    height:fit-content;
    width: fit-content;
    max-width:100%;
}


.dashboardGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin: 30px;

}
.adminContainer {
    display: flex;
    align-self: center;
    align-items: center;
    background-color: #333;
    flex-flow: column;
    gap: 20px;
    border-radius:15px;
    margin:30px;
    padding: 20px;
    min-height:95vh;
}
.editContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 15px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .dashboardGrid {
        display: flex;
        flex-flow: column;
        max-width: 100%;
        margin:auto;
    }
    .adminContainer {
        margin: 0;
        border-radius:0;
    }
    .editContainer {
        margin: 0;
    }
    .count {
        text-align: center;
    }
    .nav ul {
        gap: 8px;
    }
    .nav ul li {
        padding: 10px;
        font-size: 1.5rem;
    }
    .nav ul span {
        display: none;
    }
}