.divContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    color:black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position:relative;
    z-index: 31;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width:30%;
}