.latestContent {
    color: #333;
    margin-top: 15px;
    max-width: 500px;
    margin-left: 20px;
}
.latestButton {
    padding:10px 20px;
   color: #fff;
    border-radius: 25px;
    font-size: 1.2rem;
    background-color: #2fd6b9;
    width: fit-content;
    border: none;
    cursor: pointer;
   
}
.latestButton:hover {
    background-color: #333;
}