.recipientsContainer {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    padding:20px;
    max-width: 1200px;
}
.recipientsWrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    min-width:400px;
    height:40vh;
    font-size: 20px;
}

.recipientListItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    padding: 20px;
    overflow-y: hidden;
    border-bottom: solid 1px #ddd;

}
.adminRecipientsContainer {
    display:flex;
    flex-flow: column;
    justify-content: center;
    max-width:700px;
    align-self: center;
    position:relative;
}
.adminProifileImage {
    border-radius: 50%;
    height:fit-content;
    width:100px;
}

.profileImage {
    max-height: 200px;
    border-radius: 5%;
    object-fit: cover;
    border: 1px solid #d2d2d2;

}
.recipientCard {
    width: 275px;
    height:350px;
    border-radius: 10px;
    display: flex;
    border: 1px solid #eeeeee;
    flex-direction: column;
    gap:2px;
    padding: 20px;
    overflow-y: hidden;
    
}
.recipientCard:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.content {
    display:flex;
    flex-direction: column;
   margin-top:10px;
   gap:2px;

}
.adminContent{
    width:60%;
}
.adminButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

}
.switch {
    display:flex;
    gap:10px;
}
.editButton {
    background-color: #4ca5af;
    border: none;
    color: white;
    padding: 5px;
    height: fit-content;    
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.deleteButton {
    background-color: #fa3695;
    border: none;
    color: white;
    padding: 5px;
    height: fit-content;    
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    z-index: 20;
}
@media (max-width: 768px) {
    .recipientsContainer {
        padding: 10px;
    }
    .recipientCard {
        width: 100%;
        align-items:center;
    }
    .adminContent{
        width:100%;
    }
    .recipientListItem{
        flex-flow:column
    }
    .adminProifileImage {
        width:100%;
    }
}

